<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
input[type=submit] {
  -webkit-appearance: none;
  padding: 14px;
  background:#3498DB;
  color: #FFF;
  border:0 none;
  border-radius: 0px;
  font-family: "Open sans", sans-serif;
}
input[type=text] {
  -webkit-appearance: none;
  padding: 9px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
body {
  -webkit-appearance: none;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  -webkit-appearance: none;
  font-size: 50px;
  font-family: "Open sans", sans-serif;
}
h2 {
  -webkit-appearance: none;
  font-size: 15px;
  font-family: "Open sans", sans-serif;
  color: red;
}
h3 {
  -webkit-appearance: none;
  font-size: 20px;
  font-family: "Open sans", sans-serif;
}
h4 {
  -webkit-appearance: none;
  padding: 5px;
}
h5 {
  -webkit-appearance: none;
  font-size: 15px;
  font-family: "Open sans", sans-serif;
  padding-bottom: 10px;
}
table {
  -webkit-appearance: none;
  empty-cells: show;
  border-collapse: collapse;
  padding: 0px;
  border: 3px solid white;
  text-align: center;
  margin: 0 auto;
  font-family: "Open sans", sans-serif;
}
tr {
  -webkit-appearance: none;
  padding: 0px;
}
td {
  -webkit-appearance: none;
  padding: 0px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
}
td.darkgrey {
  background-color: grey;
}
td.grey {
  background-color: #C0C0C0;
}
td.green {
  background-color: #66ff66;
}
td.red {
  background-color:  #ff4d4d;
}
